<div class="container">
  <div class="header">
    <h1 class="title">InstaCast</h1>
    <p class="subtitle">by Nathan Vranicar</p>
  </div>
  <div class="box">
    <div class="input">
      <input type="text" placeholder="Where are you?">
      <button class="search">Get Forecast</button>
      <button class="reset">Reset</button>
    </div>
    <div class="results">
      {{!-- <h4 class="empty-text">Search a location to get its 5-day weather forecast.</h4> --}}
      <div class="grid">
        <div class="grid__item">
          <div class="card">
            <h4 class="day">Today</h4>
            <span class="weather-icon"></span>
            <p class="temp">80°F</p>
            <p class="condition">Cloudy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
